<h3 class="mb-4 text-xl font-bold">Post to Webbit</h3>
<ol class="p-0 text-sm leading-loose list-none divide-y">
  <li class="py-1">Remember to be human</li>
  <li class="py-1">Behave like you would in real life</li>
  <li class="py-1">Look for the original source of content</li>
  <li class="py-1">Search for duplicates before posting</li>
  <li class="py-1">Read the community's news</li>
</ol>
